<body>
<div class="top">
  <h2>Check a Poker Hand</h2>
</div>

<div class="container">
  <%= form_tag("/tasks/check") do %>
    <div class="text-holder"><%= text_field_tag(:cards,value=@cards, placeholder: "C3 H5 D6 S11 C2") %></div>
    <div class="button"><%= submit_tag "Check" %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="error"><%= flash[:notice] %></div>
  <% end %>
  <div class="role"><%= @role %></div>



</div>

<div class="foo">
  <p>©Copyright 2020 pokerhands All Rights Reserved.</p>
</div>
</body>